@model  Task.Models.User
@{
    ViewBag.Title = "Unblock";
}

<h2>Unblock</h2>

<h3>Are you sure you want to Unblock this?</h3>

    <h2>
        @ViewBag.Message
    </h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Emailaddress)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Emailaddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>





    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Unblock" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "admin")
        </div>
    }
